<?xml version="1.0" encoding="utf-8"?>
<!-- 复制为 EasyX.props 并修改 EasyXDir 为你的 EasyX 安装路径 -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup Label="UserMacros">
    <!-- 常见：C:\Program Files (x86)\EasyX；或 VS 自带路径 -->
    <EasyXDir>C:\Program Files (x86)\EasyX</EasyXDir>
  </PropertyGroup>
  <ItemDefinitionGroup>
    <ClCompile>
      <AdditionalIncludeDirectories>$(EasyXDir)\include;%(AdditionalIncludeDirectories)</AdditionalIncludeDirectories>
    </ClCompile>
    <Link>
      <AdditionalLibraryDirectories>$(EasyXDir)\lib\x64;%(AdditionalLibraryDirectories)</AdditionalLibraryDirectories>
      <AdditionalDependencies>graphics.lib;%(AdditionalDependencies)</AdditionalDependencies>
    </Link>
  </ItemDefinitionGroup>
</Project>
